<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <nav class="main-nav--bg">
        <div class="container main-nav">
            <div class="main-nav-start"></div>
            <div class="main-nav-end">
                <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
                    <span class="sr-only">Switch theme</span>
                    <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                    <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                </button>
                <div class="notification-wrapper">
                    <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
                        <span class="sr-only">To messages</span>
                        <span th:if="${int == 0}" class="icon notification hidden" aria-hidden="true"></span>
                        <span th:if="${int != 0}" class="icon notification active" aria-hidden="true"></span>
                    </button>
                    <ul class="users-item-dropdown notification-dropdown dropdown">
                        <li th:each="dh: ${donhang}">
                            <div style="display: flex" class="notice-bill">
                                <div class="notification-dropdown-icon info">
                                    <i class="bill-icon" aria-hidden="true"></i>
                                </div>
                                <div class="notification-dropdown-text">
                                    <input type="hidden" class="idDH" th:value="${dh.idDH}"/>
                                    <span class="notification-dropdown__title">Đơn hàng mã [[${dh.maDH}]]</span>
                                    <span class="notification-dropdown__subtitle">Tên anh/chị nhận hàng: [[${dh.tenNguoiNhan}]].
                                    Số điện thoại: [[${dh.sdtNguoiNhan}]]. Giá trị đơn hàng: [[${dh.tongTien}]] VNĐ.
                                    <span th:if="${dh.trangThaiDH == 'Chưa thanh toán, chờ giao hàng'}" style="color: #c82333">Đơn hàng thanh toán sau khi nhận hàng.</span>
                                        <span th:if="${dh.trangThaiDH != 'Chưa thanh toán, chờ giao hàng'}" style="color: #5887ff">Đơn hàng đã được thanh toán.</span>
                                    </span>
                                </div>
                                <div class="btn-confirm">
                                    <input type="hidden" th:value="${dh.trangThaiDH}" id="value-mess">
                                    <button class="btn-submit" onclick="confirmOrder(event, this.closest('li'))">Xác
                                        nhận giao hàng
                                    </button>
<!--                                    <button th:if="${dh.trangThaiDH == 'Chưa thanh toán, chờ giao hàng'}" class="btn-unsubmit"-->
<!--                                            onclick="unconfirmOrder(event, this.closest('li'))">Hủy đơn-->
<!--                                    </button>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="lang-switcher-wrapper">
                    <a class="lang-switcher transparent-btn">
                        <span class="name-user">Hello: <span id="name-user"></span></span>
                    </a>
                </div>
                <div class="nav-user-wrapper">
                    <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
                        <span class="sr-only">My profile</span>
                        <div class="notification-dropdown-icon info">
                            <i class="profile-icon" aria-hidden="true"></i>
                        </div>
                    </button>
                    <ul class="users-item-dropdown nav-user-dropdown dropdown">
                        <li><a href="##">
                            <i data-feather="user" aria-hidden="true"></i>
                            <span>Profile</span>
                        </a></li>
                        <li><a href="##">
                            <i data-feather="settings" aria-hidden="true"></i>
                            <span>Account settings</span>
                        </a></li>
                        <li><a class="danger" href="##">
                            <i data-feather="log-out" aria-hidden="true"></i>
                            <span>Log out</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>