.notification-wrapper .users-item-dropdown {
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}

.notification-wrapper .bill-icon{
    width: 24px;
    height: 24px;
    background: #5887ff; /* Màu của icon */
    mask: url(../img/svg/Bulk/Paper-white.svg) no-repeat center;
    -webkit-mask: url(../img/svg/Bulk/Paper-white.svg) no-repeat center;
}

.main-nav .notification-dropdown {
    width: 400px;
}

.notification-wrapper .notification-dropdown-text {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    padding-left: 10px;
}

.btn-confirm {
    width: 100px;
}

.notification-wrapper .btn-confirm .btn-submit, .btn-unsubmit {
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    color: #20c997;
}

.notification-wrapper .btn-confirm .btn-submit:hover {
    color: #003eff;
}

.notification-wrapper .btn-confirm .btn-unsubmit:hover {
    color: #c82333;
}

.notification-wrapper li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #dbdbdb;
}

.notification-wrapper li:last-child {
    border-bottom: none;
}