<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoKid Admin</title>
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <style>
        .invoice-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
        }

        .invoice-item {
            position: relative; 
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            display: flex;
            align-items: center;
            padding: 3px;
            width: auto;
        }
        .invoice-name {
            margin-right: 10px;
        }
        .delete-button {
            position: absolute;
            top: -5px;
            right: -1px;
            background: none;
            border: none;
            color: red;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .delete-button:hover {
            color: darkred;
        }
        #customerResults {
            position: absolute; /* Đặt nó ở một vị trí cố định trong khu vực chứa input */
            top: 85px; /* Tùy chỉnh để phù hợp với vị trí của input */
            left: 23px;
            right: 0;
            z-index: 10; /* Đảm bảo danh sách kết quả hiển thị trên các phần tử khác */
            max-height: 200px; /* Tùy chỉnh chiều cao tối đa */
            overflow-y: auto; /* Thêm thanh cuộn khi danh sách kết quả dài */
            width: 360px;
        }
        #productResults {
            position: absolute;
            top: 45px; /* Điều chỉnh vị trí nếu cần */
            left: 10px;
            right: 50px;
            z-index: 1000;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            max-height: 400px;
            overflow-y: auto;
            width: calc(100% - 100px); /* Điều chỉnh kích thước nếu cần */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f8f8f8;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
        .invoice-item.selected {
            background-color: #f0f0f0; /* Màu nền khác để làm nổi bật */
            font-weight: bold;
        }
        .custom-width {
            width: 100px; /* Thay đổi giá trị width để khớp với cột sản phẩm */
            text-align: center; /* Căn giữa nội dung bên trong */
        }

    </style>
</head>
<body>
<div class="page-flex">
    <div th:insert="fragments/sidebar_admin :: sidebar"></div>
    <div class="main-wrapper">
        <div th:insert="fragments/header_admin :: header"></div>
        <main class="main users chart-page scrollable-content">
            <div class="container">
                <div class="row ">
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="searchProductInput" placeholder="Tìm sản phẩm">
                            <div id="productResults" style="display: none; width: 900px">
                                <table id="productTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Mã SPCT</th>
                                        <th>Tên SP</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                        <th>Màu sắc</th>
                                        <th>Thương hiệu</th>
                                        <th>Chất liệu</th>
                                        <th>Kích cỡ</th>
                                        <th>Chọn</th>
                                    </tr>
                                    </thead>
                                    <tbody id="productList"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-primary" id="addInvoiceButton">+</button>
                        </div>
                        <div id="invoiceContainer" class="invoice-container" style="margin-bottom: 5px;">
                            <!-- Các hóa đơn sẽ được thêm vào đây -->
                        </div>
                    </div>
                </div>

                <!-- Thêm phần tử Toast cho thông báo thành công -->
                <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer">
                    <div id="invoiceToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                Đơn hàng đã được tạo thành công!
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <!-- Thêm phần tử Toast cho thông báo xóa thành công -->
                <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer">
                    <div id="deleteInvoiceToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                Đơn hàng đã được xóa thành công!
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="toast" id="maxInvoiceToast" style="position: absolute; top: 20px; right: 20px;">
                    <div class="toast-body text-danger">
                        Số lượng hóa đơn đã đạt giới hạn tối đa (10 hóa đơn)!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast" id="quantityErrorToast" style="position: absolute; top: 20px; right: 20px;">
                    <div class="toast-body text-danger">
                        Số lượng sản phẩm vượt quá số lượng có sẵn trong kho!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>

                <div class="row">
                    <div class="col-8">
                        <table class="table-bordered" style="overflow-y: auto">
                            <thead>
                                <th>Mã</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th style="width: 137px;">Số lượng</th>
                                <th>Thành tiền</th>
                            </thead>
                            <tbody id="cartTableBody">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 container">
                        <ul class="nav nav-tabs" id="invoiceTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Thông tin</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">Chi tiết</button>
                            </li>
                        </ul>

                        <!-- Tab Content -->
                        <div class="tab-content border p-3" id="invoiceTabsContent">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <!-- Form -->
                                <div>
                                    <div class="row mb-3">
                                        <div class="col-sm-8">
                                            <input type="text" id="searchCustomerInput" class="form-control" placeholder="Tìm khách hàng">
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="addCustomerBtn" class="btn btn-primary">+</button>
                                        </div>
                                    </div>
                                    <div id="customerResults" class="mt-2" style="display: none; position: absolute; z-index: 10;">
                                        <ul class="list-group" id="customerList"></ul>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-7">
                                            <label class="col-form-label">Tên KH: </label>
                                            <span id="customerName"></span>
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="col-form-label">SDT:</label>
                                            <span id="customerPhone"></span>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-borderless" id="summaryTable">
                                    <tbody>
                                    <tr>
                                        <th>Số lượng</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Tổng cộng</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Chọn voucher</th>
                                        <td>
                                            <select class="form-select" id="voucherSelect">
                                                <option value="" disabled selected>Chọn Voucher</option>
                                                <option th:each="voucher : ${listvc}" th:value="${voucher.id}" th:text="${voucher.ten}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Thành tiền</th>
                                        <td class="text-danger fw-bold"></td>
                                    </tr>
                                    <tr>
                                        <th>Tiền khách trả</th>
                                        <td style="position: relative;">
                                            <button style="position: absolute; padding: 7px;top: 4px;}" id="autoFillPayment"><i class="bi bi-brush-fill"></i></button>
                                            <input style="position: absolute;left: 45px;width: 186px;top: 0px;height: 12px;" type="number" id="paymentField" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tiền thừa</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Loại thanh toán</th>
                                        <td>
                                            <select class="form-select" id="paymentTypeSelect" required>
                                                <option value="" disabled selected>Chọn loại thanh toán</option>
                                                <option th:each="pttt : ${pttps}" th:value="${pttt.id}" th:text="${pttt.tenPTTT}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                                <p>Chi tiết hóa đơn sẽ hiển thị ở đây.</p>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="d-flex justify-content-between mt-4">
                            <button class="btn btn-warning">Hủy</button>
                            <button class="btn btn-danger" id="paymentButton">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Modal Nhập số lượng -->
        <div class="modal" tabindex="-1" id="quantityModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nhập số lượng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="productQuantity">Số lượng:</label>
                        <input type="number" class="form-control" id="productQuantity" min="1" max="100" value="1">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="addToCartButton">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Thêm Khách Hàng -->
        <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCustomerModalLabel">Thêm Khách Hàng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="newCustomerName" class="form-label">Tên KH:</label>
                            <input type="text" class="form-control" id="newCustomerName" placeholder="Nhập tên khách hàng">
                        </div>
                        <div class="mb-3">
                            <label for="newCustomerPhone" class="form-label">SDT:</label>
                            <input type="text" class="form-control" id="newCustomerPhone" placeholder="Nhập số điện thoại">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" id="saveCustomerBtn" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmPaymentModalLabel">Xác nhận thanh toán</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xác nhận thanh toán
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" id="confirmPaymentButton">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer">
            <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Khách hàng đã được thêm thành công!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <!-- Modal thông báo -->
        <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalMessage">
                        <!-- Thông báo sẽ được hiển thị tại đây -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="fragments/footer_admin :: footer"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/ban-hang.js"></script>
</body>
</html>
