<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoKid Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="css/header.css" type="text/css"/>
    <style>
        .users-table.table-wrapper {
            max-height: 450px; /* Đặt chiều cao tối đa cho khung chứa bảng */
            overflow-y: auto;  /* Bật cuộn dọc */
        }
        .posts-table {
            width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng */
            border-collapse: collapse;
        }

        /* Thêm viền để dễ nhìn */
        .posts-table th, .posts-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /* CSS tùy chỉnh cho các ô input trong modal */
        #productDetailModal .form-control {
            border: 1px solid #ccc;
            box-shadow: none;
            padding: 8px;
            font-size: 14px;
        }


    </style>
</head>

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
    <div th:insert="fragments/sidebar_admin :: sidebar"></div>
    <div class="main-wrapper">
        <div th:insert="fragments/header_admin :: header"></div>
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Quản Lý Sản Phẩm</h2>
                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm sản phẩm</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#inactiveProductsModal">Danh sách sản phẩm ngừng bán</button>
                    </div>
                    <div class="col-7">
                        <form action="" method="GET" class="row">
                            <div class="col-7">
                                <input name="tenTH" placeholder="Tìm kiếm sản phẩm" class="form-control">
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="users-table table-wrapper">
                    <table id="sanPhamTable" class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Giá bán</th>
                            <th>Mô tả</th>
                            <th>Trang thái</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sp : ${sps}" th:if="${sp.trangThaiSP} == 'Đang bán'">
                            <td th:text="${sp.maSP}"></td>
                            <td th:text="${sp.tenSP}"></td>
                            <td><img th:src="@{'/img/categories/' + ${sp.anhSPMau}}" alt="Ảnh sản phẩm"></td>
                            <td th:text="${sp.donGia}"></td>
                            <td th:text="${sp.moTa}"></td>
                            <td th:text="${sp.trangThaiSP}"></td>
                            <td>
                                <button
                                        class="view-detail btn btn-info"
                                        data-bs-toggle="modal"
                                        data-bs-target="#productDetailModal"
                                        th:data-id="${sp.id}"
                                        th:data-maSP="${sp.maSP}"
                                        th:data-ten="${sp.tenSP}"
                                        th:data-anh="${sp.anhSPMau}"
                                        th:data-gianhap="${sp.giaNhap}"
                                        th:data-dongia="${sp.donGia}"
                                        th:data-ngaytao="${sp.ngayTao}"
                                        th:data-mota="${sp.moTa}"
                                        th:data-loai="${sp.loaiSanPham.idLoaiSP}"
                                        th:data-thuonghieu="${sp.thuongHieu.id}"
                                        th:data-kichco="${sp.kichCo.id}"
                                        th:data-chatlieu="${sp.chatLieu.id}"
                                        th:data-trangthai="${sp.trangThaiSP}"
                                >
                                    Chi tiết
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div th:insert="fragments/footer_admin :: footer"></div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${addSanPham}" method="post" onsubmit="handleAddSP(event, this)" >
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="maSP" class="form-label">Mã sản phẩm:</label>
                                <input type="text" class="form-control border border-secondary" id="maSP" name="maSP" >
                            </div>
                            <div class="col-md-6">
                                <label for="tenSP" class="form-label">Tên sản phẩm:</label>
                                <input type="text" class="form-control border border-secondary" id="tenSP" name="tenSP" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="giaNhap" class="form-label">Giá nhập:</label>
                                <input type="number" step="0.01" class="form-control border border-secondary" id="giaNhap" name="giaNhap" >
                            </div>
                            <div class="col-md-6">
                                <label for="donGia" class="form-label">Giá bán:</label>
                                <input type="number" step="0.01" class="form-control border border-secondary" id="donGia" name="donGia" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="ngayTao" class="form-label">Ngày tạo:</label>
                                <input type="date" class="form-control border border-secondary" id="ngayTao" name="ngayTao" >
                            </div>
                            <div class="col-md-6">
                                <label for="moTa" class="form-label">Mô tả:</label>
                                <textarea class="form-control border border-secondary" id="moTa" name="moTa" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="loaiSanPham" class="form-label">Loại sản phẩm:</label>
                                <select class="form-control" id="loaiSanPham" name="loaiSanPham" required>
                                    <option value="" disabled selected>Chọn loại sản phẩm</option>
                                    <option th:each="loaiSanPham : ${dsLoaiSanPham}" th:value="${loaiSanPham.idLoaiSP}" th:text="${loaiSanPham.tenLoai}"></option>
                                </select>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLoaiSanPhamModal">
                                    <i class="bi bi-car-front-fill"></i>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <label for="thuongHieu" class="form-label">Thương hiệu:</label>
                                <select class="form-control" id="thuongHieu" name="thuongHieu" required>
                                    <option value="" disabled selected>Chọn thương hiệu</option>
                                    <option th:each="thuongHieu : ${dsThuongHieu}" th:value="${thuongHieu.id}" th:text="${thuongHieu.tenTH}"></option>
                                </select>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addThuongHieuModal">Thêm thương hiệu</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="kichCo" class="form-label">Kích cỡ:</label>
                                <select class="form-control" id="kichCo" name="kichCo" required>
                                    <option value="" disabled selected>Chọn kích cỡ</option>
                                    <option th:each="kichCo : ${dsKichCo}" th:value="${kichCo.id}" th:text="${kichCo.tenKC}"></option>
                                </select>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addKichCoModal">Thêm kích cỡ</button>
                            </div>
                            <div class="col-md-6">
                                <label for="chatLieu" class="form-label">Chất liệu:</label>
                                <select class="form-control" id="chatLieu" name="chatLieu" required>
                                    <option value="" disabled selected>Chọn chất liệu</option>
                                    <option th:each="chatLieu : ${dsChatLieu}" th:value="${chatLieu.id}" th:text="${chatLieu.tenCl}"></option>
                                </select>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addChatLieuModal">Thêm chất liệu</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="trangThaiSP" class="form-label">Trạng thái sản phẩm:</label>
                                <select class="form-control" id="trangThaiSP" name="trangThaiSP">
                                    <option value="Đang bán" selected>Đang bán</option>
                                    <option value="Ngừng bán">Ngừng bán</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="anhSPMau" class="form-label mt-2">Ảnh</label>
                                <input type="file" class="form-control border border-secondary" id="anhSPMau" name="anhSPMau" accept="image/*">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addLoaiSanPhamModal" tabindex="-1" role="dialog" aria-labelledby="addLoaiSanPhamModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLoaiSanPhamModalLabel">Thêm loại sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" onsubmit="handleAddLSP(event, this)">
                        <div class="mb-3">
                            <label for="maLSP" class="form-label">Mã loại sản phẩm:</label>
                            <input type="text" class="form-control border border-secondary" id="maLSP" name="maLSP" required>
                        </div>
                        <div class="mb-3">
                            <label for="tenLoai" class="form-label">Tên loại sản phẩm:</label>
                            <input type="text" class="form-control border border-secondary" id="tenLoai" name="tenLoai" required>
                        </div>
                        <div class="mb-3">
                            <label for="trangThai">Trạng thái</label>
                            <select class="form-control" id="trangThai" name="trangThai">
                                <option value="Đang bán" selected>Đang bán</option>
                                <option value="Ngừng bán">Ngừng bán</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="moTa" class="form-label">Mô tả:</label>
                            <input type="text" class="form-control border border-secondary" id="moTa" name="moTa">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addThuongHieuModal" tabindex="-1" role="dialog" aria-labelledby="addThuongHieuModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addThuongHieuModalLabel">Thêm thương hiệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" onsubmit="handleAddTH(event, this)">
                        <div class="mb-3">
                            <label for="maTH" class="form-label">Mã thương hiệu:</label>
                            <input type="text" class="form-control border border-secondary" id="maTH" name="maTH" required>
                        </div>
                        <div class="mb-3">
                            <label for="tenTH" class="form-label">Tên thương hiệu:</label>
                            <input type="text" class="form-control border border-secondary" id="tenTH" name="tenTH" required>
                        </div>
                        <div class="mb-3">
                            <label for="trangThaiTH">Trạng thái</label>
                            <select class="form-control" id="trangThaiTH" name="trangThaiTH">
                                <option value="Hoạt động" selected>Hoạt động</option>
                                <option value="Không hoạt động">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="diaChi" class="form-label">Địa chỉ:</label>
                            <input type="text" class="form-control border border-secondary" id="diaChi" name="diaChi">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addChatLieuModal" tabindex="-1" role="dialog" aria-labelledby="addChatLieuModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addChatLieuModalLabel">Thêm chất liệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  method="post" onsubmit="handleAddCL(event, this)">
                        <div class="mb-3">
                            <label for="maCl" class="form-label">Mã chất liệu:</label>
                            <input type="text" class="form-control border border-secondary" id="maCl" name="maCl" required>
                        </div>
                        <div class="mb-3">
                            <label for="tenCl" class="form-label">Tên chất liệu:</label>
                            <input type="text" class="form-control border border-secondary" id="tenCl" name="tenCl" required>
                        </div>
                        <div class="mb-3">
                            <label for="trangThaiCl">Trạng thái</label>
                            <select class="form-control" id="trangThaiCl" name="trangThaiCl">
                                <option value="Hoạt động" selected>Hoạt động</option>
                                <option value="Không hoạt động">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addKichCoModal" tabindex="-1" role="dialog" aria-labelledby="addKichCoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addKichCoModalLabel">Thêm kích cỡ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  method="post" onsubmit="handleAddKC(event, this)">
                        <div class="mb-3">
                            <label for="maKC" class="form-label">Mã kích cỡ:</label>
                            <input type="text" class="form-control border border-secondary" id="maKC" name="maKC" required>
                        </div>
                        <div class="mb-3">
                            <label for="tenKC" class="form-label">Tên kích cỡ:</label>
                            <input type="text" class="form-control border border-secondary" id="tenKC" name="tenKC" required>
                        </div>
                        <div class="mb-3">
                            <label for="trangThaiKC">Trạng thái</label>
                            <select class="form-control" id="trangThaiKC" name="trangThaiKC">
                                <option value="Hoạt động" selected>Hoạt động</option>
                                <option value="Không hoạt động">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="moTa" class="form-label">Mô tả:</label>
                            <input type="text" class="form-control border border-secondary" id="moTa" name="moTa">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="inactiveProductsModal" tabindex="-1" role="dialog" aria-labelledby="inactiveProductsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="inactiveProductsModalLabel">Sản phẩm ngừng bán</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="sanPhamTableAn" class="table">
                        <thead>
                        <tr class="users-table-info">
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Giá bán</th>
                            <th>Mô tả</th>
                            <th>Trang thái</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sp : ${sps}" th:if="${sp.trangThaiSP} == 'Ngừng bán'">
                            <td th:text="${sp.maSP}"></td>
                            <td th:text="${sp.tenSP}"></td>
                            <td><img th:src="@{'/img/categories/' + ${sp.anhSPMau}}" alt="Ảnh sản phẩm"></td>
                            <td th:text="${sp.donGia}"></td>
                            <td th:text="${sp.moTa}"></td>
                            <td th:text="${sp.trangThaiSP}"></td>
                            <td>
                                <button
                                        class="view-detail btn btn-info"
                                        data-bs-toggle="modal"
                                        data-bs-target="#productDetailModal"
                                        th:data-id="${sp.id}"
                                        th:data-maSP="${sp.maSP}"
                                        th:data-ten="${sp.tenSP}"
                                        th:data-anh="${sp.anhSPMau}"
                                        th:data-gianhap="${sp.giaNhap}"
                                        th:data-dongia="${sp.donGia}"
                                        th:data-ngaytao="${sp.ngayTao}"
                                        th:data-mota="${sp.moTa}"
                                        th:data-loai="${sp.loaiSanPham.idLoaiSP}"
                                        th:data-thuonghieu="${sp.thuongHieu.id}"
                                        th:data-kichco="${sp.kichCo.id}"
                                        th:data-chatlieu="${sp.chatLieu.id}"
                                        th:data-trangthai="${sp.trangThaiSP}"
                                >
                                    Chi tiết
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chi Tiết Sản Phẩm -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDetailModalLabel">Chi Tiết Sản Phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  th:object="${updateSanPham}" method="post" onsubmit="handleUpdateSP(event, this)">
                        <input type="hidden" th:field="*{id}" id="id" />
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="maSP" class="form-label">Mã sản phẩm:</label>
                                <input type="text" class="form-control border border-secondary" th:field="*{maSP}" id="maSP" required>
                            </div>
                            <div class="col-md-6">
                                <label for="tenSP" class="form-label">Tên sản phẩm:</label>
                                <input type="text" class="form-control border border-secondary" th:field="*{tenSP}" id="tenSP" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="giaNhap" class="form-label">Giá nhập:</label>
                                <input type="text" class="form-control border border-secondary" th:field="*{giaNhap}" id="giaNhap" required>
                            </div>
                            <div class="col-md-6">
                                <label for="donGia" class="form-label">Giá bán:</label>
                                <input type="text" class="form-control border border-secondary" th:field="*{donGia}" id="donGia" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="ngayTao" class="form-label">Ngày tạo:</label>
                                <input type="text" class="form-control border border-secondary" th:field="*{ngayTao}" id="ngayTao" required>
                            </div>
                            <div class="col-md-6">
                                <label for="moTa" class="form-label">Mô tả:</label>
                                <textarea class="form-control border border-secondary" th:field="*{moTa}" id="moTa" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="loaiSanPham" class="form-label">Loại sản phẩm:</label>
                                <select class="form-control" th:field="*{loaiSanPham}" id="loaiSanPham" required>
                                    <option value="" disabled selected>Chọn loại sản phẩm</option>
                                    <option th:each="loaiSanPham : ${dsLoaiSanPham}"
                                            th:value="${loaiSanPham.idLoaiSP}"
                                            th:text="${loaiSanPham.tenLoai}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="thuongHieu" class="form-label">Thương hiệu:</label>
                                <select class="form-control" th:field="*{thuongHieu}" id="thuongHieu" required>
                                    <option value="" disabled selected>Chọn thương hiệu</option>
                                    <option th:each="thuongHieu : ${dsThuongHieu}"
                                            th:value="${thuongHieu.id}"
                                            th:text="${thuongHieu.tenTH}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="kichCo" class="form-label">Kích cỡ:</label>
                                <select class="form-control" th:field="*{kichCo}" id="kichCo" required>
                                    <option value="" disabled selected>Chọn kích cỡ</option>
                                    <option th:each="kichCo : ${dsKichCo}"
                                            th:value="${kichCo.id}"
                                            th:text="${kichCo.tenKC}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="chatLieu" class="form-label">Chất liệu:</label>
                                <select class="form-control" th:field="*{chatLieu}" id="chatLieu" required>
                                    <option value="" disabled selected>Chọn chất liệu</option>
                                    <option th:each="chatLieu : ${dsChatLieu}"
                                            th:value="${chatLieu.id}"
                                            th:text="${chatLieu.tenCl}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="mb-3">
                                <label for="currentImage" class="form-label">Ảnh hiện tại</label>
                                <div>
                                    <img id="currentImage" src="" alt="Ảnh hiện tại" style="max-width: 100px; max-height: 100px;">
                                </div>
                                <input type="hidden" id="currentImageName" name="currentImageName" value="">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="changeImageCheckbox">
                                    <label class="form-check-label" for="changeImageCheckbox">Thay đổi ảnh</label>
                                </div>
                                <div id="fileInputWrapper" class="mt-2" style="display: none;">
                                    <input type="file" class="form-control border border-secondary" id="anhSPMau" name="anhSPMau" accept="image/*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="trangThaiSP" class="form-label">Trạng thái:</label>
                                <select class="form-control" th:field="*{trangThaiSP}" id="trangThaiSP">
                                    <option value="Đang bán" th:selected="*{trangThaiSP == 'Đang bán'}">Đang bán</option>
                                    <option value="Ngừng bán" th:selected="*{trangThaiSP == 'Ngừng bán'}">Ngừng bán</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // ket noi den websocket
    const socket = new WebSocket('ws://localhost:8080/ws');

    // khi ket noi thanh cong
    socket.onopen = function () {
        console.log("Da ket noi voi WebSocket");
    }

    //Khi nhan duoc thong bao tu server
    socket.onmessage = function (event) {
        console.log("Du lieu nhan tu server: ", event.data);
        // updateUI()
        window.location.reload();
    }

    // Khi có lỗi
    socket.onerror = function(error) {
        console.error("Lỗi WebSocket:", error);
    };

    // Khi kết nối bị đóng
    socket.onclose = function() {
        console.log("Kết nối WebSocket đã đóng.");
    };
</script>
<script src="js/header.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        attachUpdateButtonEvents();
    });
    document.getElementById('changeImageCheckbox').addEventListener('change', function () {
        const fileInputWrapper = document.getElementById('fileInputWrapper');
        if (this.checked) {
            fileInputWrapper.style.display = 'block';
        } else {
            fileInputWrapper.style.display = 'none';
        }
    });

    function attachUpdateButtonEvents() {
        const detailButtons = document.querySelectorAll('.view-detail');
        detailButtons.forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                const maSP = this.getAttribute('data-maSP');
                const tenSP = this.getAttribute('data-ten');
                const anh = this.getAttribute('data-anh');
                const giaNhap = this.getAttribute('data-gianhap');
                const donGia = this.getAttribute('data-dongia');
                const ngayTao = this.getAttribute('data-ngaytao');
                const moTa = this.getAttribute('data-mota');
                const loaiSP = this.getAttribute('data-loai');
                const thuongHieu = this.getAttribute('data-thuonghieu');
                const kichCo = this.getAttribute('data-kichco');
                const chatLieu = this.getAttribute('data-chatlieu');
                const trangThaiSP = this.getAttribute('data-trangthai');
                const imageName = button.dataset.anh; // Tên ảnh từ thuộc tính data-anh
                const imageUrl = `/img/categories/${imageName}`; // Đường dẫn ảnh


                // Đảm bảo ID được truyền vào trường ẩn
                const modal = document.querySelector('#productDetailModal');
                if (modal) {
                    modal.querySelector('#id').value = id;  // Cập nhật ID vào form
                    modal.querySelector('#maSP').value = maSP || '';
                    modal.querySelector('#tenSP').value = tenSP || '';
                    modal.querySelector('#giaNhap').value = giaNhap || '';
                    modal.querySelector('#donGia').value = donGia || '';
                    modal.querySelector('#ngayTao').value = ngayTao || '';
                    modal.querySelector('#moTa').value = moTa || '';
                    modal.querySelector('#loaiSanPham').value = loaiSP || '';
                    modal.querySelector('#thuongHieu').value = thuongHieu || '';
                    modal.querySelector('#kichCo').value = kichCo || '';
                    modal.querySelector('#chatLieu').value = chatLieu || '';
                    modal.querySelector('#trangThaiSP').value = trangThaiSP || '';
                    modal.querySelector('#currentImage').src = imageUrl;
                    modal.querySelector('#currentImageName').value = imageName;
                    const currentImage = modal.querySelector('#currentImage');
                    if (currentImage) {
                        currentImage.src = '/img/categories/' + (anh || '');
                    }
                }
            });
        });
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="./plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="./js/script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/products.js"></script>
</body>

