<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AutoKid | Shop-details</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png" style="height: 10px; width: 10px">

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="css/shop-detail.css" type="text/css">
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <th:block th:replace="autokid/header :: fragment"></th:block>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpeg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2 th:text="${sp.tenSP}"></h2>
              <div class="breadcrumb__option">
                <a th:href="@{http://localhost:8080/autokid/home}">Trang chủ</a>
                <span>Xe đạp</span>
                <span th:text="${sp.tenSP}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img
                  class="product__details__pic__item--large"
                  id="image__product_detail"
                  th:src="@{'/img/product/'+ ${sp.anhSPMau}}"
                  style="width: 555px; height: 575.55px; background-size: cover;"
                />
              </div>
              <div
                class="product__details__pic__slider owl-carousel"
                style="display: block"
              >
                <div th:each="sanpham : ${sanpham}">
                  <a
                    th:href="@{http://localhost:8080/autokid/shop-detail(idSP=${sanpham.idSP})}"
                  >
                    <img
                      th:src="@{'/img/product/' + ${sanpham.anhSPMau}}"
                      style="width: 120px; height: 120px; background-size: cover;"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3 th:text="${sp.tenSP}"></h3>
              <h5 th:if="${sp.soLuongSPCT == null}">(Sản phẩm này hiện đang hết hàng)</h5>
              <div class="product__details__rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <span>(18 reviews)</span>
              </div>
              <div class="product__details__price">
                <div th:if="${sp.giaSauGiam == sp.donGia}">
                  <span th:text="${sp.donGia}"></span> <span>VND</span>
                </div>
                <div th:if="${sp.giaSauGiam != sp.donGia}">
                  <span th:text="${sp.giaSauGiam}"></span> <span>VND</span>
                  <br>
                  <h4>
                    <del style="text-decoration-thickness: 2px; opacity: 0.5;"><span th:text="${sp.donGia}"></span> <span>VNĐ</span></del><br/>
                  </h4>
                </div>
              </div>
<!--              <p th:text="${sp.moTa}"></p>-->
              <div class="product__details__quantity">
                <div class="quantity">
                  <div class="pro-qty">
                    <span onclick="decreaseQuantity()">-</span>
                    <input type="text" value="1" id="quantity-input" />
                    <span onclick="increaseQuantity()">+</span>
                  </div>
                </div>
              </div>
              <a
                href="#"
                class="primary-btn"
                id="add-to-cart"
                th:data-id="${sp.idSP}"
                th:data-name="${sp.tenSP}"
                th:data-price="${sp.giaSauGiam}"
                >ADD TO CARD</a
              >
              <ul>
                <li>
                  <b>Màu sắc </b>
                  <div class="custom-radio-group">
                    <div th:each="ms: ${mauSac}" class="custom-radio-div"
                         th:data-tenms="${ms.tenMS}"
                         th:data-idspct="${ms.idSPCT}"
                         th:data-soluong="${ms.soLuong}"
                         th:data-anhspct="${ms.anhSPCT}">[[${ms.tenMS}]]</div>
                  </div>
                  <input type="hidden" id="selectedValue" name="selectedValue">
                  <input type="hidden" id="selectedValueMS" name="selectedValueMS">
                </li>
                <li>
                  <b>Thương hiệu </b>
                  <span th:text="${sp.tenThuongHieu}"></span>
                </li>
                <li>
                  <b>Phí ship</b>
                  <span> <samp></samp></span>
                </li>
                <li>
                  <b>Kích Thước </b>
                  <span th:text="${sp.kichCo}"></span>
                </li>
                <li>
                  <b>Chất liệu </b>
                  <span th:text="${sp.chatLieu}"></span>
                </li>
                <li><b>Số lượng trong kho </b>
                  <span id="so-luong" th:text="${sp.soLuongSPCT}"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="product__details__tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#tabs-1"
                    role="tab"
                    aria-selected="true"
                    >Thông tin shop</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                  <div class="product__details__tab__desc">
                    <p>
                      AutoKid là chuỗi siêu thị xe đạp xe điện đầu tiên cho cả gia đình hiện đang có 2 địa điểm tại thành phố Hà Nội và đang thực hiện kế hoạch mở 100 cửa hàng trên toàn quốc vào 2030.
                    </p>
                    <p>
                      Với đội ngũ đam mê xe đạp và mong muốn đem đến cho các khách hàng trải nghiệm tốt nhất, phục vụ nhu cầu cải thiện sức khỏe và cân bằng cuộc sống qua việc đạp xe, AutoKid được đầu tư bởi những đối tác có kinh nghiệm trong ngành xe đạp, vận hành chuỗi và quỹ đầu tư chuyên nghiệp.
                    </p>
                    <p>
                      Tại AutoKid, quý khách có thể mua sắm online hoặc tại nhiều địa điểm cửa hàng nhiều thương hiệu xe đạp lớn như: Youth, Liv, VinBike, Fornix, RoyalBaby,… với hơn 20 mẫu mã trong các dòng xe đua, leo núi, đường phố, trẻ em.
                    </p>
                    <p>
                      AutoKid luôn cập nhật các mẫu mã mới nhất thị trường, kiểu dáng phong phú, đa dạng, đáp ứng mọi nhu cầu của thị trường từ sản phẩm phổ thông cho đến cao cấp với mức giá hợp lý và phù hợp mới mọi đối tượng khách hàng. Kèm theo đó là chế độ hậu mãi hoàn hảo, cùng với các dịch vụ kỹ thuật chuyên nghiệp.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title related__product__title">
              <h2>Sản phẩm tương tự đề xua</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6" th:each="sptt : ${related}">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                th:attr="data-setbg=${'/img/product/' + sptt.anhSPMau}"
                style="width: 262.5px; height: 270px; background-size: cover;"
                th:onclick="'window.location.href=\'/autokid/shop-detail?idSP=' + ${sptt.idSP} + '\''"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a
                      th:href="@{http://localhost:8080/autokid/shop-detail(idSP=${sptt.idSP})}"
                      ><i class="fa fa-retweet"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0)"
                      th:data-id="${sptt.idSP}"
                      th:data-ten="${sptt.tenSP}"
                      th:data-gia="${sptt.donGia}"
                      th:data-idspct = "${sptt.idSPCT}"
                      th:data-mausac="${sptt.mauSacSPCT}"
                      th:data-soluong="${sptt.soLuongSPCT}"
                      th:data-anh="${sptt.anhSPMau}"
                      onclick="addToCart(this); event.stopPropagation();"
                      ><i class="fa fa-shopping-cart"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>
                  <a
                    th:href="@{http://localhost:8080/autokid/shop-detail(idSP=${sptt.idSP})}"
                    th:text="${sptt.tenSP}"
                  ></a>
                </h6>
                <h5><span th:text="${sptt.donGia}"></span><span> VND</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Related Product Section End -->

    <!-- Phần footer bắt đầu -->
    <th:block th:replace="autokid/footer :: fragment"></th:block>
    <!-- Kết thúc phần footer -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/shop-detail.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
